@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Space+Mono&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/695/862/527/5bd04930a613b-wallpaper-preview.jpg);
}

main.container {
  background-color: rgb(13, 19, 35);
  width: 84rem;
  height: 100%;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 15rem 15rem 15rem 15rem;
  grid-template-rows: 15rem 15rem;
  padding: 10rem;

  border-radius: 30px;
  gap: 2rem;
}

.name1 {
  grid-area: 1/1 / span 2 / span 1;
  /* border: 2px solid red; */
  background-color: rgb(29, 32, 75);
  border-radius: 25px;
}

.top1 {
  background-color: rgb(87, 70, 234);
  height: 22rem;
  border-radius: 25px;
}

.top1 img {
  width: 4rem;
  margin: 1.2rem;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.top1 h1 {
  font-size: 0.7rem;
  padding-left: 1.2rem;
}
.top1 span {
  font-size: 2rem;
  /* margin-top: 3rem; */
}

.bottom1 {
  display: flex;
  flex-direction: column;
  padding-top: 9.3rem;
  padding-left: 1.2rem;
}

.bottom1 a {
  text-decoration: none;
  padding: 0.5rem;
}
.bottom1 a:hover {
  color: rgb(87, 70, 234);
}

.name2 {
  background-image: url(./images/icon-work.svg);
  background-color: coral;
  background-repeat: no-repeat;
  background-position-x: right;
}

.name3 {
  background-image: url(./images/icon-play.svg);
  background-color: aqua;
  background-position-x: right;
  background-repeat: no-repeat;
}

.name4 {
  background-image: url(./images/icon-study.svg);
  background-color: hotpink;
  background-position-x: right;
  background-repeat: no-repeat;
}

.name5 {
  background-image: url(./images/icon-exercise.svg);
  background-color: lightgreen;
  background-position-x: right;
  background-repeat: no-repeat;
}

.name6 {
  background-image: url(./images/icon-social.svg);
  background-color: blueviolet;
  background-position-x: right;
  background-repeat: no-repeat;
}

.name7 {
  background-image: url(./images/icon-self-care.svg);
  background-color: rgba(255, 238, 2, 0.781);
  background-position-x: right;
  background-repeat: no-repeat;
}
.box {
  border-radius: 20px;
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 12rem;
  border-radius: 15px;
  padding: 1.5rem;
  /* border: 2px solid red; */
  background-color: rgb(29, 32, 75);
}

.bottom:hover {
  background-color: rgb(57, 62, 116);
  cursor: pointer;
}

.boxheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxheader img {
  height: 5px;
}

.hrs {
  padding-top: 1.5rem;
  font-size: 2.5rem;
}

.hrs + p {
  font-size: small;
  color: rgba(255, 255, 255, 0.473);
  padding-top: 0.7rem;
}

.boxheader h2 {
  font-size: medium;
}

@media screen and (min-width: 0) and (max-width: 600px) {
  main.container {
    display: grid;
    grid-template-columns: 25rem;
    grid-template-rows: repeat(7, 15rem);
    width: 35rem;
    text-align: center;
    padding: 5rem;
  }

  .top1 img {
    float: left;
  }

  .top1 {
    padding-top: 1.6rem;
    height: 10rem;
  }
  .top1 h1 {
    padding-top: 1.5rem;
  }
  .top1 span {
    font-size: 1.6rem;
  }

  .name1 {
    height: 15rem;
    grid-area: 1/1 / span 1 / span 1;
  }
  .bottom1 {
    display: flex;
    flex-direction: row;
    /* border: 2px solid red; */
    justify-content: space-around;
    width: 25rem;
    gap: 1rem 1rem;
    padding-top: 3rem;
  }
}
